.css-10hburv-MuiTypography-root {
    font-size: 1.6rem;
}

.customText {
    font-size: 2rem;
    color: aquamarine;
}

.btn-logout {
    width: 100%;
}
.btn-log {
    width: 100%;
    background-color: aqua;
}